.container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.name {
    color: #888888;
}
.col-md-5 {
    background-color: #F0E9E0;
}

.underline {
    border-bottom: 5px solid #E0E0E0;
    padding-bottom: 10px;
}

.headline {
    background-color: #888888;
    padding: 10px;
}

.ul > li {
    list-style-type: none;
}

.ul > li > a {
    text-decoration-line: none;
}

.ul {
    padding-left: 20px;
}